.add-post {
  max-width: 600px;
  border: 1px solid black;
  margin: auto;
  border-radius: 5px;
}

.add-post > * {
  padding: 5px;
}

.text-content {
  width: 95%;
  padding: 5px;
  resize: vertical;
}

/* .addpost {
  margin-top: 10px;
} */
